<header class="site-header">

  <div class="container txt-center">

    <a href="{{ "/" | prepend: site.baseurl }}" class="author-thumb">
      <img src="{{ "/images/author.png" | prepend: site.baseurl }}" alt="Author thumbnail" class="dot">
    </a>

    <h1><small>Hello! My name is</small>Andrew Lovett-Barron<small> and I make software products.</small></h1>
    <p>For the past decade, I've contributed to awesome software product.</p><p>This look that <b>leading field research at IDEO</b>, getting into the weeds with <b>agile teams at the Dept of Defense</b> to improve delivery and quality, <b>teaching design workshops to the Innofounder startups</b> in Denmark, and <b>building my own products</b> as an indie dev.
    </p>
    <p>Interested in a collaboration?<p>
    <a href="mailto:alb@andrewlb.com" class="btn">Let's chat</a>
     <hr class="hr">
      <h2>Things I've Made</h2>
      <ul>
        <li>
          <p>
          <a href="https://knowsi.com" target="_blank">
            <img src="{{ "/images/knowsi.png" | prepend: site.baseurl }}" alt="Knowsi" class="dot">
          </a>
          </p>
          <p>
            The best way for design researchers to manage participant consent.
          </p>
        </li>
        <li>
          <p>
          <a href="http://netgrant.org/" target="_blank">
          <img src="{{ "/images/grantcalc.png" | prepend: site.baseurl }}" alt="Grant Calculator" class="dot">
          </a>
          </p>
          <p>A collaboration with Dahna Goldstein to support non-profit decision making</p>
        </li>
        <li>
          <p>
          <a href="https://pedalpedal.club/" target="_blank">
            <img src="{{ "/images/pedalpedal.png" | prepend: site.baseurl }}" alt="Pedal Pedal Club" class="dot">
            </a>
          </p>
          <p>Reward yourself (and control your spending) as a new cyclist</p>
        </li>
        <li>
           <p>
           <a href="https://vimeo.com/80308354" target="_blank">
            <img src="{{ "/images/stoke.png" | prepend: site.baseurl }}" alt="Stoke" class="dot">
            </a>
          </p>
          <p>A large scale interactive installation for Nuit Blanche 2013</p>
        </li>
      </ul>
    <hr class="hr">
      <h2>Roles I've Held</h2>
      <ul>
        <li>
          <p>
            <img src="{{ "/images/ideo.png" | prepend: site.baseurl }}" alt="IDEO" class="dot">
          </p>
                <h3>
                  Principal Designer
                </h3>
        </li>
        <li>
          <p>
            <img src="{{ "/images/dds.png" | prepend: site.baseurl }}" alt="Defense Digital Service" class="dot">
          </p>
          <h3>Digital Service Expert</h3>
        </li>
        <li>
          <p>
            <img src="{{ "/images/newamerica.png" | prepend: site.baseurl }}" alt="New America" class="dot">
          </p>
          <h3>Public Interest Tech Fellow</h3>
        </li>
        <li>
          <p>
            <img src="{{ "/images/ciid.png" | prepend: site.baseurl }}" alt="Copenhagen Institute of Interaction Design" class="dot">
          </p>
          <h3>Design Resident</h3>
        </li>
        <li>
          <p><img src="{{ "/images/innofounder.png" | prepend: site.baseurl }}" alt="Innofounder" class="dot"></p>
          <h3>Lead Design Mentor</h3>
        </li>
      </ul>
      <small><a href="http://www.linkedin.com/in/andrewlb" target="_blank">Full CV on Linkedin</a></small>

  </div>
 <ul class="social">
      {% for item in site.social %}
        {% for i in item %}
        <li>
          <a href="{{ i.link }}" target="_blank"
            ><i class="icon icon-{{ i.slug }}"></i
          ></a>
        </li>
        {% endfor %}
      {% endfor %}
    </ul>
</header>
