<header class="site-header">

  <div class="container txt-center">

    <a href="{{ "/" | prepend: site.baseurl }}" class="author-thumb">
      <img src="{{ "/images/author.jpg" | prepend: site.baseurl }}" alt="Author thumbnail" class="dot">
    </a>
    <h1>I'm Andrew Lovett-Barron <small>and I make software products.</small></h1>
     <hr class="hr">
      <h2>I've made</h2>
      <ul>
        <li>
          <p>
          <a href="https://knowsi.com" target="_blank">
            <img src="{{ "/images/knowsi.png" | prepend: site.baseurl }}" alt="Knowsi" class="dot">
          </a>
          </p>
          <h3>Knowsi</h3>
          <p>
            The best way for design researchers to manage participant consent.
          </p>
        </li>
        <li>
          <p>
          <img src="{{ "/images/grantcalc.png" | prepend: site.baseurl }}" alt="Grant Calculator" class="dot">
          </p>
          <h3>Grant Calculator</h3>
          <p>A collaboration with Dahna Goldstein to support non-profit decision making</p>
        </li>
        <li>
          <p>
            <img src="{{ "/images/pedalpedal.jpg" | prepend: site.baseurl }}" alt="Pedal Pedal Club" class="dot">
          </p>
          <h3>Pedal Pedal Club</h3>
          <p>Reward yourself (and control your spending) as a new cyclist</p>
        </li>
        <li>
           <p>
            <img src="{{ "/images/stoke.jpg" | prepend: site.baseurl }}" alt="Stoke" class="dot">
          </p>
          <h3>Stoke</h3>
          <p>A large scale interactive installation for Nuit Blanche 2013</p>
        </li>
      </ul>
    <hr class="hr">
      <h2>I have worked at</h2>
      <ul>
        <li>
          <h3>
            Principal Designer, Team Lead
          </h3>
          <p>
          <img src="{{ "/images/ideo.png" | prepend: site.baseurl }}" alt="IDEO" class="dot">
          </p>
        </li>
        <li>
          <h3>Digital Service Expert</h3>
          <p>
          <img src="{{ "/images/dds.png" | prepend: site.baseurl }}" alt="Defense Digital Service" class="dot">
          </p>
        </li>
        <li>
          <h3>Public Interest Tech Fellow</h3>
          <p>
            <img src="{{ "/images/newamerica.png" | prepend: site.baseurl }}" alt="New America" class="dot">
          </p>
        </li>
        <li>
          <h3>Design Resident</h3>
          <p>
            <img src="{{ "/images/ciid.png" | prepend: site.baseurl }}" alt="Copenhagen Institute of Interaction Design" class="dot">
          </p>
        </li>
        <li>
        <h3>Lead Design Mentor</h3>
        <p><img src="{{ "/images/innofounder.png" | prepend: site.baseurl }}" alt="Innofounder" class="dot"></p>
        </li>
      </ul>




    <!-- <a class="btn" href="http://netgrant.org" target="_blank">Grant Calculator</a> -->
    <!-- <a class="btn" href="https://pedalpedal.club" target="_blank">Pedal Pedal Club</a> -->
    <!-- <a class="btn" href="https://vimeo.com/80308354" target="_blank">Stoke</a> -->
    <hr class="hr">

  </div>

</header>
